.application-features-list {
  text-align: center;
  background-image:
    url("../img/index-page/iphone-screen-mobile.jpg"),
    url("../img/index-page/iphone-mobile.png");
  background-repeat: no-repeat;
  background-size: 136px auto, 157px auto;
  background-position: 50% bottom, 50% 109%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: stretch;
    text-align: center;
  }
}

.application-features-list__item {
  @media (min-width: @tablet-width) {
    width: 310px;
  }

  @media (min-width: @desktop-width) {
    width: 252px;
  }
}

.application-features-list__title {
  font-weight: 700;
  font-size: 18px;
}
