.application-features-list {
  text-align: center;
  background-image: url("../img/index-page/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 157px auto;
  background-position: 50% 109%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-page/iphone-screen-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: start;
    background-image: url("../img/index-page/iphone-screen-3-tablet@1x.png");
    background-size: 268px 481px;
    background-position: 20px 3px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-page/iphone-screen-3-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: stretch;
    gap: 20px;
    text-align: center;
    background-image: none;
  }
}

.application-features-list__item {
  &:not(:last-child) {
    margin-bottom: 31px;

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 310px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;

    &::before {
      content: "";
      display: block;
      width: 292px;
      height: 302px;
      margin-bottom: 60px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 292px 302px;
    }

    &:nth-child(1)::before {
      background-image: url("../img/index-page/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-page/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-child(2)::before {
      background-image: url("../img/index-page/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-page/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-child(3)::before {
      background-image: url("../img/index-page/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-page/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.application-features-list__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
}

.application-features-list__subtitle {
  margin: 0;

  @media (min-width: @desktop-width) {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}
