.contact-information {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;
  }
}

.contact-information__caption {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
  }
}

.contact-information__label {
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    padding-left: 15px;
  }
}

.contact-information__item {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 30px;

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--tel::after {
      background-image: url("../../img/icons/phone-icon.svg");
      background-size: 20px 20px;
    }

    &--email::after {
      background-image: url("../../img/icons/mail-icon.svg");
      background-size: 20px 20px;
    }
  }
}

.contact-information__input {
  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
  }
}
