.intro {
  color: #ffffff;
  background-image:
    url("../img/index-page/phone-mobile.png"),
    url("../img/index-page/screen-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 83px, 50% 115px;
  background-size: 320px auto, 111px auto;
}

.intro__subtitle {
  padding: 0 20px;
  min-height: 345px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  z-index: 1;
}

.intro__footer {
  padding: 28px 20px;
  background-color: #1d2631;
}

.intro__button {
  margin-bottom: 30px;
}

.intro__legend {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
