.link-button {
  display: block;
  width: 100%;
  padding: 21px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 29px;

  &:hover,
  &:focus {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #ffffff;
  }
}
