.main-form__item {
  margin: 0;
  padding: 0 20px;
  border: none;
}

.main-form__item-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  &--travel-achievements,
  &--which-application {
    background-color: #f2f2f2;
  }
}

.main-form__footer-wrapper {
  padding: 20px;
}

.main-form__button {
  margin-bottom: 45px;
}

.main-form__legend {
  margin: 0;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #283645;

  & span {
    color: #d22856;
  }
}
