.main-form__item {
  margin: 0;
  padding: 0 20px;
  border: none;
}

.main-form__item--introduce-yourself {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-form__item-wrapper {
  padding: 40px 0;
  background-color: #f2f2f2;
}

.main-form__item--contact-information {
  padding-top: 40px;
  padding-bottom: 40px;
}
