.page {
  height: 100%;
  font-family: "Open Sans", "Aria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  color: #283645;
  background-color: #ffffff;
}

.page__header {
  margin-bottom: 40px;
}
