.page-header {
  background-color: #283645;
  background-image: url("../img/index-page/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 330px;
  background-size: 320px auto;
}

.page-header__main-nav {
  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.page-header__intro {
  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
    padding: 102px 20px 120px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 114px 20px 130px;
  }
}

.page-header__intro-title {
  max-width: 550px;
  min-height: 168px;
  margin: 0 auto;
  padding: 30px 20px 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 80px 20px 60px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    padding: 74px 20px 104px;
  }
}

.page-header__intro-title--photo-page {
  padding-bottom: 72px;
}
