.page-header {
  background-color: #1d2631;
  background-image: url("../img/index-page/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 260px;
  background-size: 700px 462px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-page/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/index-page/bg-back-tablet@1x.jpg");
    background-position: 50% 256px;
    background-size: 1200px 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-page/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/index-page/bg-back-desktop@1x.jpg");
    background-position: 50% 0;
    background-size: 2560px 853px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-page/bg-back-desktop@2x.jpg");
    }
  }

  &--js {
    padding-top: 69px;
    background-position: 50% 0;


    @media (min-width: @tablet-width) {
      padding-top: 110px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 0;
    }
  }
}

.page-header__main-nav {
  background-color: #283645;

  @media (min-width: @desktop-width) {
    background-color: fade(#000000, 30%);
  }

  &--js {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;

    @media @desktop {
      position: static;
    }
  }

  &--transparent {
    background-color: fade(#000000, 30%);
  }
}

.page-header__intro {
  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
    padding: 95px 20px 97px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 100px 20px 108px;
  }
}

.page-header__intro-title {
  max-width: 550px;
  min-height: 168px;
  margin: 0 auto;
  padding: 25px 20px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    max-width: 940px;
    min-height: 330px;
    margin: 0 auto;
    padding: 67px 20px 0;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    min-height: 285px;
    padding: 60px 20px 0;
  }
}
