.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.page-footer__logo {
  margin-bottom: 30px;
}

.page-footer__logo-image {
  &:hover path,
  &:focus path {
    fill: #d22856;
  }

  &:active path {
    opacity: 0.3;
  }
}

.page-footer__social-list {
  width: 175px;
  margin-bottom: 40px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;

  &:hover path,
  &:focus path {
    fill: #283645;
  }

  &:active path {
    fill: #283645;
    opacity: 0.3;
  }
}

.page-footer__copyright-text {
  color: #283645;
}
