.page-header {
  background-image:
    url("../img/index-page/phone-mobile.png"),
    url("../img/index-page/screen-mobile.jpg"),
    url("../img/index-page/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 491px, 50% 524px, 50% 315px;
  background-size: 320px auto, 111px auto, 320px auto;
}
