.page-footer__wrapper {
  padding: 50px 20px;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__logo-image {
  &:hover path,
  &:focus path {
    fill: #d22856;
  }

  &:active path {
    opacity: 0.3;
  }
}

.page-footer__copyright-link {
  &:hover path,
  &:focus path {
    fill: #283645;
  }

  &:active path {
    fill: #283645;
    opacity: 0.3;
  }
}

.page-footer__copyright-text {
  color: #283645;
}
