.photo-list__items-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 25px;
    margin-top: 50px;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 54px;
    width: 940px;
    margin: 50px auto 0;
  }
}

.photo-list__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  &:not(:last-child) {
    margin-bottom: 18px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  &--hit {
    padding: 0;
  }
}

.photo-list__photo-link {
  position: relative;
  display: block;

  &--hit {
    &::before {
      content: attr(data-panorama-text);
      position: absolute;
      z-index: 10;
      top: 0;
      right: 20px;
      padding: 6px 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      color: #ffffff;
      text-transform: uppercase;
      background-color: #d22856;

      @media @tablet {
        top: 56px;
        right: 20px;
      }

      @media @desktop {
        top: 54px;
        right: 130px;
      }
    }
  }
}

.photo-list__photo {
  display: block;
  width: 100%;
  height: auto;
}

.photo-list__desc {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  flex-grow: 1;
  padding: 18px 17px 21px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    padding: 24px 29px 24px 27px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 34px;
  }

  &--hit {
    width: 88%;
    margin: 0 auto;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 94%;
      padding-bottom: 20px;

      & .photo-list__comment {
        order: 3;
      }
    }

    @media (min-width: @desktop-width) {
      width: 940px;
      padding-bottom: 0;
    }
  }
}

.photo-list__author-info {
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.photo-list__datatime {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-list__comment {
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    min-height: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.photo-list__like-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: auto;
  }

  &--hit {
    @media (min-width: @tablet-width) {
      width: 120px;
    }
  }
}

.photo-list__like-button {
  width: 13px;
  height: 12px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
