.site-list__item {
  text-align: center;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.site-list__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: #d22856;
    opacity: 0.3;
  }
}
