.travel-achievements__caption {
  padding: 0 15px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0 auto;
  }
}

.travel-achievements__list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
  }
}

.travel-achievements__item {
  &:not(:last-child) {
    margin-bottom: 70px;

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

.travel-achievements__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 69px;

  @media (min-width: @tablet-width) {
    padding-left: 59px;
  }
}

.travel-achievements__checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.travel-achievements__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 16px;
  background-image: url("../../img/general/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 22px 16px;
}

.travel-achievements__checkbox + label:hover::before,
.travel-achievements__checkbox + label:focus::before {
  border: 2px solid #283645;
}

.travel-achievements__checkbox + label:active::before {
  border: 2px solid #d22856;
}
